h2 #{title['TitleName']}

ul
    - groups.each do |group|
        li 
            a href="/groups/#{group['GroupID']}" #{group['GroupName']}
            / ska också visa: 
                            - antal medlemmar
                            - antal inlägg
                            - senast aktivitet
                            - urval av taggarna
                            - gå med knapp
                            - uppge ifall guppen är privar eller inte
