h2 Alla grupper! 

ul
    - groups.each do |group|
        li 
            a href="/groups/#{group['group_id']}" #{group['group_name']}
            / ska också visa: 
                            - antal medlemmar
                            - antal inlägg
                            - senast aktivitet
                            - urval av taggarna
                            - gå med knapp
                            - uppge ifall guppen är privar eller inte